{% extends 'app/album_base.html' %}

{% block albumbody %}
	
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
  		<fieldset>
    		<legend>Album Information</legend>
    		<div class="row">
    			<label class="well col-md-2" style="background:#1ab2b2;">Album Title:</label>
    			<input class="well col-md-3" type='text' name='album_title' value="">
    		</div>
    		<div class="row">
    			<label class="well col-md-2" style="background:#1ab2b2;">Message:</label>
    			<input class="well col-md-3" type='text' name='album_message' value="">
    		</div>
    		<div class="row">
    			<label class="well col-md-2" style="background:#1ab2b2;">Password:</label>
    			<input class="well col-md-3" type='password' name='album_password' value="admin1234">
    		</div>
    		<div class="row">
    			<label class="well col-md-2" style="background:#1ab2b2;">Photos:</label>
    			<input class="well col-md-3" type='file' multiple name='photos' value="">
    		</div>
    		
    		<div class="row">
    			<div class="col-md-4"></div>
    			<button type="submit" class="btn btn-primary "><span class="glyphicon glyphicon-ok"> Done</span></button>
    		</div>

  		</fieldset>
	</form>

{% endblock %}