{% extends 'app/base.html' %}

{% block body %}
<div class="col-md-2">
	<nav class="navbar navbar-fluid" role="navigation">
		<div class="container">

			<div id="sidebar-wrapper" class="sidebar-toggle">
				<ul class="sidebar-nav">
		    		<li >
		      			<a href="{% url 'app:album' %}"> <span class="glyphicon glyphicon-film">  All Albums</span></a>
		    		</li>
		    		<li>
		    			<!-- addalbum/ -->
		      			<a href="{% url 'app:addalbum' %}"> <span class="glyphicon glyphicon-plus"> Add Album</span></a>
		    		</li>
		    		<li>
		      			<a href="#item3"> <span class="glyphicon glyphicon-question-sign"> Help</span></a>
		    		</li>
		  		</ul>
			</div>
  		</div>
	</nav>
</div>
{% block albumbody %}
{% endblock %}


{% endblock %}