{% extends 'app/album_base.html' %}

{% block albumbody %}
	
	{% for i in "x"|ljust:"5" %}
		<div class="col-md-12"><br></div>
	{% endfor %}
	{% if messages %}
		<ul class="messages">
    	{% for message in messages %}
    		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    	{% endfor %}
		</ul>
	{% endif %}

	<div class="col-md-2"></div>
	<form action="/album/{{album_id}}/" method="POST">
		{% csrf_token %}
  		<div class="form-group">
    		<label class="col-md-2 well well-sm" for="search" ><b align='center' >Enter Password:</b></label>
    		<div class="col-md-4">
    			<input type="password" class="form-control" name="album-password" id="album-password" value="admin1234">
    		</div>
    		<button type="submit" class="btn btn-primary col-md-1 ">Submit</button>
  		</div>
	</form>


{% endblock %}