<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<meta charset="utf-8">
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'app/style1.css' %}">
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
	
	

	<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js'></script>
	

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</head>
<body>
	<div align="middle">
	<a href="{% url 'app:home' %}">
	<div class="row alert alert-info" ><h1><b>Photo Album Share</b></h1></div></a>
	<div class="row" ><br></div>
	<div class="row" ><br></div>
	{% if error == 'incorrect' %}
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 alert alert-danger">***Incorrect password or username</div>

	</div>
	{% endif %}
	<form action="" method="POST">
		{% csrf_token %}
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-1 well well-sm">
			    <label class=" " for="login" ><b align='center' >Username:</b></label>
			</div>
			<div class="col-md-3" >
			    <input type="text" class="form-control col-md-3" name="username" id="username" value="">
			 </div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-1 well well-sm">
			    <label class="" for="login" ><b align='center' >Password:</b></label>
			</div>
			<div class="col-md-3" >
			    <input type="password" class="form-control col-md-3" name="password" id="password" value="">
			    	
			 </div>
			<div class="col-md-4"></div>
		</div>
		<div class="row">
			<div class="col-md-5"></div>
			    <button type="submit" class="btn btn-primary col-md-2">Login <span class="glyphicon glyphicon-log-in" ></span></button>
			<div class="col-md-4"></div>
		</div>
		<div class="row" ><br></div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4" align="right">
			    <p class='well'>Don't have an account? <a href="{% url 'app:register' %}">Register</a></p>
			</div>
			<div class="col-md-4"></div>
		</div>
		
		
	</form>
	</div>
</body>
</html>